<div class="container custom-top-margin">
  <div class="row mb-3 row-spacing">
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-building"></i></span>
        <input
          type="text"
          class="form-control"
          placeholder="Ünvan"
          [(ngModel)]="filterTitle"
          (ngModelChange)="filterCustomers()"
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-upc"></i></span>
        <input
          type="text"
          class="form-control"
          placeholder="Yetkili"
          [(ngModel)]="filterAuthorized"
          (ngModelChange)="filterCustomers()"
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
        <input
          type="text"
          class="form-control"
          placeholder="Şehir"
          [(ngModel)]="filterCity"
          (ngModelChange)="filterCustomers()"
        />
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-orange w-100">
        <i class="bi bi-search me-2"></i>Ara
      </button>
    </div>
    <div class="col-md-4">
      <button
        class="btn btn-primary w-100"
        (click)="openNewCustomerModal(newCustomerModal)"
      >
        Yeni Kayıt
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Ünvan</th>
            <th>Yetkili</th>
            <th>Şehir</th>
            <th>Borç</th>
            <th>Alacak</th>
            <th>Bakiye Borç</th>
            <th>Bakiye Alacak</th>
            <th>İşlemler</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let customer of filteredCustomers
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: p,
                      totalItems: totalItems
                    }
            "
          >
            <td>{{ customer.id }}</td>
            <td>{{ customer.company }}</td>
            <td>{{ customer.firstName }} {{ customer.lastName }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.debt }}</td>
            <td>{{ customer.credit }}</td>
            <td>{{ customer.balanceDebt }}</td>
            <td>{{ customer.balanceCredit }}</td>
            <td>
              <button
                class="btn btn-sm btn-info me-2"
                (click)="showCustomerDetails(customer)"
              >
                Göster
              </button>
              <!-- Düzenle butonuna tıkladığında düzenleme modal'ı açılıyor -->
              <button
                class="btn btn-sm btn-primary me-2"
                (click)="showEditCustomerModal(customer)"
              >
                Düzelt
              </button>
              <button
                class="btn btn-sm btn-danger"
                (click)="
                  openDeleteConfirmationModal(deleteConfirmationModal, customer)
                "
              >
                İptal
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row justify-content-center align-items-center mt-3">
  <div class="col-auto">
    <pagination-controls
      (pageChange)="onPageChange($event)"
    ></pagination-controls>
  </div>
  <div class="col-auto">
    <select
      class="form-select"
      [(ngModel)]="itemsPerPage"
      (change)="onItemsPerPageChange(itemsPerPage)"
    >
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
    </select>
  </div>
</div>

<!-- Add this modal at the end of the file -->
<ng-template #newCustomerModal let-modal>
  <div class="modal-header bg-light">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4 class="modal-title" id="modal-basic-title">Yeni Müşteri</h4>
      <button
        type="button"
        class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
        style="width: 30px; height: 30px"
      >
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form #newCustomerForm="ngForm">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstNameInputAdd" class="form-label required">Ad</label>
          <input
            type="text"
            class="form-control"
            id="firstNameInputAdd"
            [(ngModel)]="newCustomer.firstName"
            name="firstNameInputAdd"
            required
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #firstNameInputAdd="ngModel"
          />
          <div
            *ngIf="
              firstNameInputAdd.invalid &&
              (firstNameInputAdd.dirty || firstNameInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="firstNameInputAdd.errors?.['pattern']"
              >Geçerli bir ad giriniz (sadece harfler, 2-30 karakter).</small
            >
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastNameInputAdd" class="form-label required"
            >Soyad</label
          >
          <input
            type="text"
            class="form-control"
            id="lastNameInputAdd"
            [(ngModel)]="newCustomer.lastName"
            name="lastNameInputAdd"
            required
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #lastNameInputAdd="ngModel"
          />
          <div
            *ngIf="
              lastNameInputAdd.invalid &&
              (lastNameInputAdd.dirty || lastNameInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="lastNameInputAdd.errors?.['pattern']"
              >Geçerli bir soyad giriniz (sadece harfler, 2-30 karakter).</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="emailInputAdd" class="form-label required">E-posta</label>
          <input
            type="email"
            class="form-control"
            id="emailInputAdd"
            [(ngModel)]="newCustomer.email"
            name="emailInputAdd"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            #emailInputAdd="ngModel"
          />
          <div
            *ngIf="
              emailInputAdd.invalid &&
              (emailInputAdd.dirty || emailInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="emailInputAdd.errors?.['required']"
              >E-posta adresi gereklidir.</small
            >
            <small *ngIf="emailInputAdd.errors?.['pattern']"
              >Geçerli bir e-posta adresi giriniz.</small
            >
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="phoneInputAdd" class="form-label required">Telefon</label>
          <input
            type="tel"
            class="form-control"
            id="phoneInputAdd"
            [(ngModel)]="newCustomer.phone"
            name="phoneInputAdd"
            required
            pattern="^(\+90|0)?\s?5[0-9]{2}\s?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$"
            #phoneInputAdd="ngModel"
          />
          <div
            *ngIf="
              phoneInputAdd.invalid &&
              (phoneInputAdd.dirty || phoneInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="phoneInputAdd.errors?.['required']"
              >Telefon numarası gereklidir.</small
            >
            <small *ngIf="phoneInputAdd.errors?.['pattern']"
              >Geçerli bir telefon numarası giriniz (örn: 05XX XXX XX
              XX).</small
            >
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="addressInputAdd" class="form-label">Adres</label>
        <textarea
          class="form-control"
          id="addressInputAdd"
          [(ngModel)]="newCustomer.address"
          name="addressInputAdd"
          rows="2"
          pattern="^[a-zA-Z0-9ğüşıöçĞÜŞİÖÇ\s,./:()-]{5,100}$"
          #addressInputAdd="ngModel"
        ></textarea>
        <div
          *ngIf="
            addressInputAdd.invalid &&
            (addressInputAdd.dirty || addressInputAdd.touched)
          "
          class="text-danger"
        >
          <small *ngIf="addressInputAdd.errors?.['pattern']"
            >Geçerli bir adres giriniz (5-100 karakter, özel karakterler:
            ,./:()-)</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="cityInputAdd" class="form-label">Şehir</label>
          <input
            type="text"
            class="form-control"
            id="cityInputAdd"
            [(ngModel)]="newCustomer.city"
            name="cityInputAdd"
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #cityInputAdd="ngModel"
          />
          <div
            *ngIf="
              cityInputAdd.invalid &&
              (cityInputAdd.dirty || cityInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="cityInputAdd.errors?.['pattern']"
              >Geçerli bir şehir adı giriniz (sadece harfler, 2-30
              karakter).</small
            >
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="countryInputAdd" class="form-label">Ülke</label>
          <input
            type="text"
            class="form-control"
            id="countryInputAdd"
            [(ngModel)]="newCustomer.country"
            name="countryInputAdd"
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #countryInputAdd="ngModel"
          />
          <div
            *ngIf="
              countryInputAdd.invalid &&
              (countryInputAdd.dirty || countryInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="countryInputAdd.errors?.['pattern']"
              >Geçerli bir ülke adı giriniz (sadece harfler, 2-30
              karakter).</small
            >
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="postalCodeInputAdd" class="form-label">Posta Kodu</label>
          <input
            type="text"
            class="form-control"
            id="postalCodeInputAdd"
            [(ngModel)]="newCustomer.postalCode"
            name="postalCodeInputAdd"
            pattern="^[0-9]{5}$"
            maxlength="5"
            #postalCodeInputAdd="ngModel"
          />
          <div
            *ngIf="
              postalCodeInputAdd.invalid &&
              (postalCodeInputAdd.dirty || postalCodeInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="postalCodeInputAdd.errors?.['pattern']"
              >Geçerli bir posta kodu giriniz (5 haneli sayı).</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="companyInputAdd" class="form-label">Şirket</label>
          <input
            type="text"
            class="form-control"
            id="companyInputAdd"
            [(ngModel)]="newCustomer.company"
            name="companyInputAdd"
            pattern="^[a-zA-Z0-9ğüşıöçĞÜŞİÖÇ\s&.]{2,50}$"
            #companyInputAdd="ngModel"
          />
          <div
            *ngIf="
              companyInputAdd.invalid &&
              (companyInputAdd.dirty || companyInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="companyInputAdd.errors?.['pattern']"
              >Geçerli bir şirket adı giriniz (2-50 karakter, özel karakterler:
              &.).</small
            >
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="positionInputAdd" class="form-label">Pozisyon</label>
          <input
            type="text"
            class="form-control"
            id="positionInputAdd"
            [(ngModel)]="newCustomer.position"
            name="positionInputAdd"
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #positionInputAdd="ngModel"
          />
          <div
            *ngIf="
              positionInputAdd.invalid &&
              (positionInputAdd.dirty || positionInputAdd.touched)
            "
            class="text-danger"
          >
            <small *ngIf="positionInputAdd.errors?.['pattern']"
              >Geçerli bir pozisyon giriniz (sadece harfler, 2-30
              karakter).</small
            >
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="notesInputAdd" class="form-label">Notlar</label>
        <textarea
          class="form-control"
          id="notesInputAdd"
          [(ngModel)]="newCustomer.notes"
          name="notesInputAdd"
          rows="2"
          pattern="^[a-zA-Z0-9ğüşıöçĞÜŞİÖÇ\s,.!?()-]{0,200}$"
          #notesInputAdd="ngModel"
        ></textarea>
        <div
          *ngIf="
            notesInputAdd.invalid &&
            (notesInputAdd.dirty || notesInputAdd.touched)
          "
          class="text-danger"
        >
          <small *ngIf="notesInputAdd.errors?.['pattern']"
            >Geçerli notlar giriniz (0-200 karakter, özel karakterler:
            ,.!?()-)</small
          >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer bg-light">
    <button
      type="button"
      class="btn btn-outline-secondary me-2"
      (click)="resetForm()"
    >
      Temizle
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="saveCustomer()"
      [disabled]="newCustomerForm.invalid"
    >
      Kaydet
    </button>
  </div>
</ng-template>
<!-- Müşteri Detayları Modal -->
<ng-template #customerDetailsModal let-modal>
  <div class="modal-header bg-light">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4 class="modal-title" id="modal-basic-title">Müşteri Detayları</h4>
      <button
        type="button"
        class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
        style="width: 30px; height: 30px"
      >
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <!-- Müşteri bilgilerini gösteriyoruz, düzenleme yapılmayacak -->
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName" class="form-label required">Ad</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [value]="selectedCustomer.firstName"
          readonly
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName" class="form-label required">Soyad</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [value]="selectedCustomer.lastName"
          readonly
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="email" class="form-label required">E-posta</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [value]="selectedCustomer.email"
          readonly
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="phone" class="form-label required">Telefon</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          [value]="selectedCustomer.phone"
          readonly
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Adres</label>
      <textarea
        class="form-control"
        id="address"
        rows="2"
        [value]="selectedCustomer.address"
        readonly
      ></textarea>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="city" class="form-label">Şehir</label>
        <input
          type="text"
          class="form-control"
          id="city"
          [value]="selectedCustomer.city"
          readonly
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="country" class="form-label">Ülke</label>
        <input
          type="text"
          class="form-control"
          id="country"
          [value]="selectedCustomer.country"
          readonly
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="postalCode" class="form-label">Posta Kodu</label>
        <input
          type="text"
          class="form-control"
          id="postalCode"
          [value]="selectedCustomer.postalCode"
          readonly
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="company" class="form-label">Şirket</label>
        <input
          type="text"
          class="form-control"
          id="company"
          [value]="selectedCustomer.company"
          readonly
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="position" class="form-label">Pozisyon</label>
        <input
          type="text"
          class="form-control"
          id="position"
          [value]="selectedCustomer.position"
          readonly
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="notes" class="form-label">Notlar</label>
      <textarea
        class="form-control"
        id="notes"
        rows="2"
        [value]="selectedCustomer.notes"
        readonly
      ></textarea>
    </div>
  </div>
  <div class="modal-footer bg-light">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Kapat
    </button>
  </div>
</ng-template>
<!-- Müşteri Düzenleme Modal -->
<ng-template #editCustomerModal let-modal>
  <div class="modal-header bg-light">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4 class="modal-title" id="modal-basic-title">Müşteri Düzeltme</h4>
      <button
        type="button"
        class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
        style="width: 30px; height: 30px"
      >
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form #editCustomerForm="ngForm">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstNameInputEdit" class="form-label required">Ad</label>
          <input
            type="text"
            class="form-control"
            id="firstNameInputEdit"
            [(ngModel)]="selectedCustomer.firstName"
            name="firstNameInputEdit"
            required
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #firstNameInputEdit="ngModel"
          />
          <div
            *ngIf="
              firstNameInputEdit.invalid &&
              (firstNameInputEdit.dirty || firstNameInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="firstNameInputEdit.errors?.['pattern']"
              >Geçerli bir ad giriniz (sadece harfler, 2-30 karakter).</small
            >
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastNameInputEdit" class="form-label required"
            >Soyad</label
          >
          <input
            type="text"
            class="form-control"
            id="lastNameInputEdit"
            [(ngModel)]="selectedCustomer.lastName"
            name="lastNameInputEdit"
            required
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #lastNameInputEdit="ngModel"
          />
          <div
            *ngIf="
              lastNameInputEdit.invalid &&
              (lastNameInputEdit.dirty || lastNameInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="lastNameInputEdit.errors?.['pattern']"
              >Geçerli bir soyad giriniz (sadece harfler, 2-30 karakter).</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="emailInputEdit" class="form-label required"
            >E-posta</label
          >
          <input
            type="email"
            class="form-control"
            id="emailInputEdit"
            [(ngModel)]="selectedCustomer.email"
            name="emailInputEdit"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            #emailInputEdit="ngModel"
          />
          <div
            *ngIf="
              emailInputEdit.invalid &&
              (emailInputEdit.dirty || emailInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="emailInputEdit.errors?.['required']"
              >E-posta adresi gereklidir.</small
            >
            <small *ngIf="emailInputEdit.errors?.['pattern']"
              >Geçerli bir e-posta adresi giriniz.</small
            >
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="phoneInputEdit" class="form-label required"
            >Telefon</label
          >
          <input
            type="tel"
            class="form-control"
            id="phoneInputEdit"
            [(ngModel)]="selectedCustomer.phone"
            name="phoneInputEdit"
            required
            pattern="^(\+90|0)?\s?5[0-9]{2}\s?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$"
            #phoneInputEdit="ngModel"
          />
          <div
            *ngIf="
              phoneInputEdit.invalid &&
              (phoneInputEdit.dirty || phoneInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="phoneInputEdit.errors?.['required']"
              >Telefon numarası gereklidir.</small
            >
            <small *ngIf="phoneInputEdit.errors?.['pattern']"
              >Geçerli bir telefon numarası giriniz (örn: 05XX XXX XX
              XX).</small
            >
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="addressInputEdit" class="form-label">Adres</label>
        <textarea
          class="form-control"
          id="addressInputEdit"
          [(ngModel)]="selectedCustomer.address"
          name="addressInputEdit"
          rows="2"
          pattern="^[a-zA-Z0-9ğüşıöçĞÜŞİÖÇ\s,./:()-]{5,100}$"
          #addressInputEdit="ngModel"
        ></textarea>
        <div
          *ngIf="
            addressInputEdit.invalid &&
            (addressInputEdit.dirty || addressInputEdit.touched)
          "
          class="text-danger"
        >
          <small *ngIf="addressInputEdit.errors?.['pattern']"
            >Geçerli bir adres giriniz (5-100 karakter, özel karakterler:
            ,./:()-)</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="cityInputEdit" class="form-label">Şehir</label>
          <input
            type="text"
            class="form-control"
            id="cityInputEdit"
            [(ngModel)]="selectedCustomer.city"
            name="cityInputEdit"
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #cityInputEdit="ngModel"
          />
          <div
            *ngIf="
              cityInputEdit.invalid &&
              (cityInputEdit.dirty || cityInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="cityInputEdit.errors?.['pattern']"
              >Geçerli bir şehir adı giriniz (sadece harfler, 2-30
              karakter).</small
            >
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="countryInputEdit" class="form-label">Ülke</label>
          <input
            type="text"
            class="form-control"
            id="countryInputEdit"
            [(ngModel)]="selectedCustomer.country"
            name="countryInputEdit"
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #countryInputEdit="ngModel"
          />
          <div
            *ngIf="
              countryInputEdit.invalid &&
              (countryInputEdit.dirty || countryInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="countryInputEdit.errors?.['pattern']"
              >Geçerli bir ülke adı giriniz (sadece harfler, 2-30
              karakter).</small
            >
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="postalCodeInputEdit" class="form-label">Posta Kodu</label>
          <input
            type="text"
            class="form-control"
            id="postalCodeInputEdit"
            [(ngModel)]="selectedCustomer.postalCode"
            name="postalCodeInputEdit"
            pattern="^[0-9]{5}$"
            maxlength="5"
            #postalCodeInputEdit="ngModel"
          />
          <div
            *ngIf="
              postalCodeInputEdit.invalid &&
              (postalCodeInputEdit.dirty || postalCodeInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="postalCodeInputEdit.errors?.['pattern']"
              >Geçerli bir posta kodu giriniz (5 haneli sayı).</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="companyInputEdit" class="form-label">Şirket</label>
          <input
            type="text"
            class="form-control"
            id="companyInputEdit"
            [(ngModel)]="selectedCustomer.company"
            name="companyInputEdit"
            pattern="^[a-zA-Z0-9ğüşıöçĞÜŞİÖÇ\s&.]{2,50}$"
            #companyInputEdit="ngModel"
          />
          <div
            *ngIf="
              companyInputEdit.invalid &&
              (companyInputEdit.dirty || companyInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="companyInputEdit.errors?.['pattern']"
              >Geçerli bir şirket adı giriniz (2-50 karakter, özel karakterler:
              &.).</small
            >
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="positionInputEdit" class="form-label">Pozisyon</label>
          <input
            type="text"
            class="form-control"
            id="positionInputEdit"
            [(ngModel)]="selectedCustomer.position"
            name="positionInputEdit"
            pattern="^[a-zA-ZğüşıöçĞÜŞİÖÇ\s]{2,30}$"
            #positionInputEdit="ngModel"
          />
          <div
            *ngIf="
              positionInputEdit.invalid &&
              (positionInputEdit.dirty || positionInputEdit.touched)
            "
            class="text-danger"
          >
            <small *ngIf="positionInputEdit.errors?.['pattern']"
              >Geçerli bir pozisyon giriniz (sadece harfler, 2-30
              karakter).</small
            >
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="notesInputEdit" class="form-label">Notlar</label>
        <textarea
          class="form-control"
          id="notesInputEdit"
          [(ngModel)]="selectedCustomer.notes"
          name="notesInputEdit"
          rows="2"
          pattern="^[a-zA-Z0-9ğüşıöçĞÜŞİÖÇ\s,.!?()-]{0,200}$"
          #notesInputEdit="ngModel"
        ></textarea>
        <div
          *ngIf="
            notesInputEdit.invalid &&
            (notesInputEdit.dirty || notesInputEdit.touched)
          "
          class="text-danger"
        >
          <small *ngIf="notesInputEdit.errors?.['pattern']"
            >Geçerli notlar giriniz (0-200 karakter, özel karakterler:
            ,.!?()-)</small
          >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer bg-light">
    <button
      type="button"
      class="btn btn-primary"
      (click)="updateCustomer()"
      [disabled]="editCustomerForm.form.invalid"
    >
      Kaydet
    </button>
  </div>
</ng-template>
<!-- Silme Onayı Modal -->
<ng-template #deleteConfirmationModal let-modal>
  <div class="modal-header bg-light">
    <h4 class="modal-title">Silme Onayı</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <p>Bu müşteriyi silmek istediğinizden emin misiniz?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Hayır
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(modal)">
      Evet
    </button>
  </div>
</ng-template>

<!-- Tablo Üzerindeki Sil Butonu -->
<button
  class="btn btn-sm btn-danger"
  (click)="openDeleteConfirmationModal(deleteConfirmationModal, newCustomer)"
>
  Sil
</button>
