<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AngularDersleri</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Cari Hesap ve Sub Menü -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="cariHesapDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Cari Hesap
          </a>
          <ul class="dropdown-menu" aria-labelledby="cariHesapDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/new-customer"
                (click)="navigateTo($event)"
                >Yeni Cari Kart</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/edit-customer"
                (click)="navigateTo($event)"
                >Cari Kart Düzeltme</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/cancel-customer"
                (click)="navigateTo($event)"
                >Cari Kart İptal</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/customer-reports"
                (click)="navigateTo($event)"
                >Cari Raporlar</a
              >
            </li>
          </ul>
        </li>

        <!-- Cari Hareket ve Sub Menü -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="cariHareketDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Cari Hareket
          </a>
          <ul class="dropdown-menu" aria-labelledby="cariHareketDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/new-debt-movement"
                (click)="navigateTo($event)"
                >Yeni Cari Borç Hareketi</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/new-credit-movement"
                (click)="navigateTo($event)"
                >Yeni Cari Alacak Hareketi</a
              >
            </li>
          </ul>
        </li>

        <!-- Raporlar ve Sub Menü -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="raporlarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Raporlar
          </a>
          <ul class="dropdown-menu" aria-labelledby="raporlarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/debt-credit-report"
                (click)="navigateTo($event)"
                >Borç/Alacak Raporu</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/movement-report"
                (click)="navigateTo($event)"
                >Hareket Raporları</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/customer-statement"
                (click)="navigateTo($event)"
                >Müşteri Ekstre</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!-- Kullanıcı Bilgisi Sağ Tarafta -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"> <i class="bi bi-person"></i> Kullanıcı Adı </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Sayfalar router-outlet aracılığıyla yüklenecek -->
<router-outlet></router-outlet>
